@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model Bookish.Models.BookViewModel

@{
    ViewBag.Title = "Book List";
}

<!DOCTYPE html>

<html>
<head>
    @*<table style="">
         <tr>
           <th>Title</th>
           <th>Author Name</th>
             <th>Publisher</th>
             <th>ISBN</th>
         </tr>
        @foreach (Book b in BookViewModel.books)
        {
            {
                <tr>
                    <td>@b.title</td>
                    <td>@b.authorSurname:, @b.authorForename</td>
                    <td>@b.publisher</td>
                    <td>@b.ISBN</td>
                </tr>
            }
        }
    </table>*@
</head>
<body>
<div>
      
</div>
</body>
</html>