@{
    ViewData["Title"] = "Home Page";
}

@model DefaultInputModel
<div class="text-center">
    <h1 class="display-4">Bookish</h1>
    <p>Learn about how this fish looks: <a href="https://d1o50x50snmhul.cloudfront.net/wp-content/uploads/2017/03/29155112/df8f8x.jpg">Here is a picture of a fish</a>.</p>
</div>    

<div class="tab">
    <button class="tablinks" onclick="openTab(event, 'Enter a Book')">Enter a Book</button>
    <button class="tablinks" onclick="openTab(event, 'Enter a User')">Enter a User</button>
</div>
    
<div id="Enter a Book" class="tabcontent">
    @using (Html.BeginForm("BookEntry", "Catalog", FormMethod.Get))
    {
        
        <fieldset>
            <legend>Enter a book:</legend>
            <b>Book title : </b>@Html.TextBoxFor(m => m.BookInput.BookName, new{@type="text", placeholder="Book name"})<br/>
            <b>Book ISBN : </b>@Html.TextBoxFor(m => m.BookInput.ISBN, new{@type="text", placeholder="ISBN", pattern="[0-9]{13}", title = "Please enter a 13 digit number"})<br/>
            <b>Book publisher : </b>@Html.TextBoxFor(m => m.BookInput.Publisher, new{@type="text", placeholder="Publisher"})<br/>
            <b>Book publish date : </b>@Html.TextBoxFor(m => m.BookInput.DatePublished, new{@type="date", placeholder="Publish date"})<br/>
            <b>Book author : </b>@Html.TextBoxFor(m => m.BookInput.Author, new{@type="text", placeholder="Author", pattern="^[A-Za-z ,.'-]+$" })<br/>
            <b>Number of copies : </b>@Html.TextBoxFor(m => m.BookInput.NewCopies, new{@type="number", placeholder="copies"})<br/><br/>
            <input type="submit" value="Enter book info" /><br/>

        </fieldset>
    }
</div>

<div id="Enter a User" class="tabcontent" style="display:none;">
    @using (Html.BeginForm("BorrowerEntry", "Catalog", FormMethod.Get))
    {
        <fieldset>
            
            <legend>Enter a borrower:</legend>
            <b>User phone number : </b>@Html.TextBoxFor(m => m.BorrowerInput.PhoneNumber, new{@type="text", placeholder="Phone number", pattern="^[\\+]?[(]?[0-9]{3}[)]?[-\\s\\.]?[0-9]{3}[-\\s\\.]?[0-9]{4,6}$", title = "Please enter a phone number"})<br/>
            <b>User first name : </b>@Html.TextBoxFor(m => m.BorrowerInput.Forename, new{@type="text", placeholder="Forename", pattern="^[A-Za-z ,.'-]+$" })<br/>
            <b>User surname : </b>@Html.TextBoxFor(m => m.BorrowerInput.Surname, new{@type="text", placeholder="Surname", pattern="^[A-Za-z ,.'-]+$" })<br/><br/>
            <input type="submit" value="Enter borrower info" /><br/>

        </fieldset>
    }
</div>

