@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model Bookish.Models.BookViewModel

@{
    ViewBag.Title = "Book List";
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>

        <title>Book List</title>
    </head>
    <body>

    <div>
    <table class="display" id="myTable">
        <thead>
            <tr>
                <th></th>
                <th>Title</th>
                <th>Author Name</th>
                <th>Publisher</th>
                <th>ISBN</th>
                <th>DatePublished</th>
                <th>Copies</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        @foreach (var book in Model.CatalogEntries)
        {
            <tr>
                <td>
                    <label>
                        <input type="button" value="@book.BookID" class="hidden-button" onclick="location.href='@Url.Action("Delete", "Catalog")' + '?bookId=' + '@book.BookID'" />
                        <svg width="16" height="16" fill="currentColor" class="button-icon bi-stack" viewBox="0 0 16 16" id="hiddenButtonIcon"><use href="#copies-icon"/></svg>
                    </label>
                </td>
                <td>@book.Title</td>
                <td>@book.Author.AuthorSurname, @book.Author.AuthorForename</td>
                <td>@book.Publisher</td>
                <td>@book.ISBN</td>
                <td>@book.DatePublished.ToString("yyyy-MM-dd")</td>
                <td>@book.CopyList.Count</td>
                <td>
                    <label>
                        <input type="button" value="@book.BookID" class="hidden-button" onclick="location.href='@Url.Action("Edit", "Catalog")' + '?bookId=' + '@book.BookID'"/>
                        <svg width="16" height="16" fill="currentColor" class="button-icon bi-pencil" viewBox="0 0 16 16"><use href="#pencil-icon"/></svg>
                    </label>
                </td>
                <td>
                    <label>
                        <input type="button" value="@book.BookID" class="hidden-button" onclick="location.href='@Url.Action("Delete", "Catalog")' + '?bookId=' + '@book.BookID'"/>
                        <svg width="16" height="16" fill="currentColor" class="button-icon bi-trash" viewBox="0 0 16 16"><use href="#trash-icon"/></svg>
                    </label>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
</body>
    <script>
        $(document).ready( function () {
            $('#myTable').DataTable();
        } );
    </script>
</html>