@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model Bookish.Models.BookViewModel

@{
    ViewBag.Title = "Book List";
}

<!DOCTYPE html>

<html lang="en">
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>

    <title>Book List</title>
</head>
<body>
<div>
    <table class="display" id="myTable">
        <thead>
        <tr>
            <th>Title</th>
            <th>Author Name</th>
            <th>Publisher</th>
            <th>ISBN</th>
            <th>DatePublished</th>
            <th>Copies</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (Book b in Model.CatalogEntries)
        {
            <tr>
                <td>@b.Title</td>
                <td>@b.Author.AuthorSurname, @b.Author.AuthorForename</td>
                <td>@b.Publisher</td>
                <td>@b.ISBN</td>
                <td>@b.DatePublished</td>
                <td>@b.CopyList.Count</td>
                @using (Html.BeginForm("EditBook", "Catalog", FormMethod.Get))
                {
                    <td><button class="btn-outline-info"><i class="bi bi-pencil"></i></button></td>
                }
                @using (Html.BeginForm("DeleteBook", "Catalog", FormMethod.Get))
                {
                    <td><button class="btn-outline-danger"><i class="bi bi-trash" value="@b.BookID"></i></button></td>
                }


                @*<script>
                function format(@(b)) {
                    // `d` is the original data object for the row
                    let a = "";
                    a = '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">'
                    for(let c in b.CopyList)
                    {
                        //c.BorrowInstanceList.sort(function (a,b){return a.isReturned)
                        a = a + '<tr>' +
                        '<td>Comments</td>' +
                        '<td>' +
                        c.Comments +
                        '</td>' +
                        '</tr>' 
                    }

                    '</table>'
                    return (a);
                }
                $(b).ready(
                    function () {
                    var table = $('#mytable').DataTable({
                        //ajax: '../ajax/data/objects.txt',
                        columns: [
                            {
                                className: 'dt-control',
                                orderable: false,
                                data: null,
                                defaultContent: '',
                            },
                            { data: 'Title' },
                            { data: 'Author Name' },
                            { data: 'Publisher' },
                            { data: 'ISBN' },
                            { data: 'DatePublished'},
                            { data: 'Copies'}
                        ],
                        order: [[1, 'asc']],
                    });
                 
                    // Add event listener for opening and closing details
                    $('#myTable tbody').on('click', 'td.dt-control', function () {
                        var tr = $(this).closest('tr');
                        var row = table.row(tr);
                 
                        if (row.child.isShown()) {
                            // This row is already open - close it
                            row.child.hide();
                            tr.removeClass('shown');
                        } else {
                            // Open this row
                            row.child(format(row.data())).show();
                            tr.addClass('shown');
                        }
                    });
                </script>*@
            </tr>
        }
        </tbody>
    </table>
</div>
</body>
    <script>
        $(document).ready( function () {
            $('#myTable').DataTable();
        } );
    </script>
</html>