@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model Bookish.Models.BookViewModel

@{
    ViewBag.Title = "Book List";
}

<!DOCTYPE html>

<html>
<head>
    <table style="">
         <tr>
           <th>Title</th>
            <th>Author Name</th>
            <th>Publisher</th>
             <th>ISBN</th>
             <th>DatePublished</th>
             <th>Copies</th>
         </tr>
        @foreach (Book b in Model.CatalogEntries)
        {
            <tr>
                <td>@b.Title</td>
                <td>@b.Author.AuthorSurname, @b.Author.AuthorForename</td>
                <td>@b.Publisher</td>
                <td>@b.ISBN</td>
                <td>@b.DatePublished</td>
                <td>@b.CopyList.Count</td>
            </tr>
        }
    </table>
</head>
<body>
<div>
      
</div>
</body>
</html>